{{ define "home" }}
<section class="billboard-panel">
  <!-- TODO: New GlyphForged Logo -->
  <h1>GlyphForged</h1>
  <p class="bilboard-tagline">Games, Software, Musings, and more, forged straight from the terminal.</p>
</section>
<section class="nav-cards" aria-label="Site sections">
  <!-- TODO: Nav cards. -->
  <div class="placeholder">
    <h2>Work in progress</h2>
    <p>Lorem ipsum dolor sit amet...</p>
  </div>
</section>
{{ end }}
