{{define "main-header"}}
<header class="site-header">
  <a href="/" aria-label="Glyphforged home">
    <!-- TODO: Change to logo -->
    <p>Home</p>
  </a>
  <!-- TODO: nav shit -->
</header>
{{end}}
